# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/



# OS specific
.DS_Store
*.swp
*.html

# Archive & Large Raw Extraction Dumps
archive/
*.tif
extracted_paper_figs/*.tif
